<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>whiteboard</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>

<body>
  <input type="hidden" id="roomId" value="<%=roomId%>">
  <canvas class="whiteboard"></canvas>
  <div class="row col">
    <div class="col-md-3">
      <h3>Users</h3>
      <ul id="users">
        <% usersInRoom.forEach(user=> { %>
          <li id="<%=user.socketId%>">
            <%= user.username %>
          </li>
          <% }) %>
      </ul>
    </div>
    <!-- room Id -->
    <div class="col-md-6">
      <h3>RoomId: <code id="roomId">
                  <%= roomId %>
                </code></h3>
    </div>
    <div class="colors py-2 col-md-3 ">
      <div class="color black"></div>
      <div class="color red"></div>
      <div class="color green"></div>
      <div class="color blue"></div>
      <div class="color yellow"></div>
    </div>


  </div>

  <!-- left -->


  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>

</html>